// {
//   "plugins": [
//     "prettier"
//   ],
//   "parser": "babel-eslint",
//   "parserOptions": {
//     "ecmaVersion": 2018,
//     "sourceType": "module",
//     "ecmaFeatures": {
//       "jsx": true
//     }
//   },
//   "env": {
//     "browser": true,
//     "node": true,
//     "es6": true,
//     "mocha": true,
//     "jest": true
//   },
//   "extends": [
//     "airbnb",
//     "prettier"
//   ],
//   "globals": {
//     "React": true,
//     "ReactDOM": true,
//     "PropTypes": true,
//     "shallow": true,
//     "expect": true,
//     "itRenders": true
//   },
//   // 0 - turn the rule off
//   // 1 - turn the rule on as a warning (doesn’t affect exit code)
//   // 2 - turn the rule on as an error (exit code will be 1)
//   "rules": {
//     "jsx-a11y/control-has-associated-label": 0,
//     "no-extra-boolean-cast": 0,
//     "consistent-return": 0,
//     "no-control-regex": 1,
//     "import/no-cycle": 0,
//     "no-multi-assign": 1,
//     "camelcase": 1,
//     "prefer-const": 1,
//     "react/prop-types": 0,
//     "no-useless-escape": 0,
//     "no-shadow": 1,
//     "no-restricted-globals": 1,
//     "react/button-has-type": 0,
//     "react/no-access-state-in-setstate": 1,
//     "react/no-did-update-set-state": 1,
//     "react/no-array-index-key": "warn",
//     "react/jsx-props-no-spreading": 1,
//     "import/prefer-default-export": 0,
//     "jsx-a11y/label-has-associated-control": 1,
//     "jsx-a11y/no-static-element-interactions": 1,
//     "jsx-a11y/no-noninteractive-element-interactions": 1,
//     "jsx-a11y/click-events-have-key-events": 1,
//     "jsx-a11y/iframe-has-title": 1,
//     "no-return-assign": 1,
//     "new-cap": 1,
//     "jsx-a11y/anchor-is-valid": 0,

//     "no-nested-ternary": 0,
//     "no-underscore-dangle": 0,
//     "no-dupe-keys": 1,
//     "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
//     "react/jsx-filename-extension": [
//       1,
//       {
//         "extensions": [".js", ".jsx"]
//       }
//     ],
//     "jsx-a11y/no-onchange": 0,
//     "no-unused-vars": 0,
//     "import/no-extraneous-dependencies": 0,
//     "import/no-unresolved": [
//       2,
//       { "caseSensitive": false }
//     ],
//     "react/destructuring-assignment": [
//       1,
//       "always",
//       {
//         "ignoreClassFields": true
//       }
//     ],
//     "react/require-default-props": 0,
//     "react/static-property-placement": [1, "static public field"],
//     "react/state-in-constructor": [1, "never"],
//     "react/no-unescaped-entities": 1,
//     "react/no-unused-state": 1,
//     "react/no-this-in-sfc": 1,
//     "no-param-reassign": 0,
//     "react/no-string-refs": "warn",
//     "require-yield": 0,
//     "react/forbid-prop-types": 0,
//     "react/sort-comp": [
//       1,
//       {
//         "order": [
//           "static-methods",
//           "static-variables",
//           "instance-variables",
//           "lifecycle",
//           "everything-else",
//           "render"
//         ]
//       }
//     ]
//   }
// }
